In [1]:
import pandas as pd 
import numpy as np



#
serie = pd.Series([1, 2, 3, 4])
serie

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
serie == pd.Series(np.array([1, 2, 3, 4]))
#

In [3]:
import pandas as pd

#
data = {"Moneda": ["USD", "YEN", "MXN", "ARS", "EUR"],
        "Cantidad": [10, 4, 22, 54, 6],
        "Me gusta": [True, False, True, False, True]}

df = pd.DataFrame(data)
df

  Moneda  Cantidad  Me gusta
0    USD        10      True
1    YEN         4     False
2    MXN        22      True
3    ARS        54     False
4    EUR         6      True

In [ ]:
df2 = pd.DataFrame(data, columns=["Divisa", "Cantidad", ])

In [4]:
df["Conteo"] = np.array([1, 2, 3, 4, 5])
df

  Moneda  Cantidad  Me gusta  Conteo
0    USD        10      True       1
1    YEN         4     False       2
2    MXN        22      True       3
3    ARS        54     False       4
4    EUR         6      True       5

In [5]:
conteo = pd.Series([1, 3, 5], index=[0, 2, 4])
conteo

0    1
2    3
4    5
dtype: int64

In [6]:
df = pd.DataFrame(data)
df.T

             0      1     2      3     4
Moneda     USD    YEN   MXN    ARS   EUR
Cantidad    10      4    22     54     6
Me gusta  True  False  True  False  True

In [7]:
df.index.name = "Indice"
df.columns.name =  "Columnas"
df

Columnas Moneda  Cantidad  Me gusta
Indice
0           USD        10      True
1           YEN         4     False
2           MXN        22      True
3           ARS        54     False
4           EUR         6      True

In [8]:
df.values

array([['USD', 10, True],
       ['YEN', 4, False],
       ['MXN', 22, True],
       ['ARS', 54, False],
       ['EUR', 6, True]], dtype=object)

In [11]:
type(df.values)

numpy.ndarray

In [12]:
df[["Moneda", "Cantidad"]]

Columnas Moneda  Cantidad
Indice
0           USD        10
1           YEN         4
2           MXN        22
3           ARS        54
4           EUR         6

In [13]:
df[:2]

Columnas Moneda  Cantidad  Me gusta
Indice
0           USD        10      True
1           YEN         4     False

In [15]:
df.loc[::-1, "Moneda":]

Columnas Moneda  Cantidad  Me gusta
Indice
4           EUR         6      True
3           ARS        54     False
2           MXN        22      True
1           YEN         4     False
0           USD        10      True

In [17]:
pd.__version__

'2.2.3'

In [18]:
df[df["Cantidad"] > 9]

Columnas Moneda  Cantidad  Me gusta
Indice
0           USD        10      True
2           MXN        22      True
3           ARS        54     False

In [19]:
serie = pd.Series([4,3,2,1])
serie

0    4
1    3
2    2
3    1
dtype: int64

In [20]:
serie.sort_index()

0    4
1    3
2    2
3    1
dtype: int64

In [21]:
serie.sort_values()

3    1
2    2
1    3
0    4
dtype: int64

In [22]:
df = pd.DataFrame(data)
df

  Moneda  Cantidad  Me gusta
0    USD        10      True
1    YEN         4     False
2    MXN        22      True
3    ARS        54     False
4    EUR         6      True

In [25]:
df.sort_index(axis=0)

  Moneda  Cantidad  Me gusta
0    USD        10      True
1    YEN         4     False
2    MXN        22      True
3    ARS        54     False
4    EUR         6      True

In [27]:
df.sort_index(axis=1)

   Cantidad  Me gusta Moneda
0        10      True    USD
1         4     False    YEN
2        22      True    MXN
3        54     False    ARS
4         6      True    EUR

In [28]:
df.sort_values(axis=0, by=["Cantidad"])

  Moneda  Cantidad  Me gusta
1    YEN         4     False
4    EUR         6      True
0    USD        10      True
2    MXN        22      True
3    ARS        54     False

In [29]:
df.sort_values(by=["Moneda"])

  Moneda  Cantidad  Me gusta
3    ARS        54     False
4    EUR         6      True
2    MXN        22      True
0    USD        10      True
1    YEN         4     False

In [30]:
#MAPPING
def sumar(a:float, b:float) -> float:
    return a + b

sumar(10, 5)

15

In [31]:
funcion = lambda a, b: a +b

funcion(10, 5)

15

In [32]:
funcion = lambda x: np.pow(x, 2)

df["Cantidad"].apply(funcion)

0     100
1      16
2     484
3    2916
4      36
Name: Cantidad, dtype: int64

In [33]:
funcion = lambda x: pd.Series([x.min(), x.max()], index=["min", "max"])
df.apply(funcion)

    Moneda  Cantidad  Me gusta
min    ARS         4     False
max    YEN        54      True

In [ ]:
funcion = lambda x: np.pow(x, 2)

In [38]:
df = pd.DataFrame(data)
conteo = pd.Series([1, 3, 5], index=[0,2,4])
df["Conteo"] = conteo

In [39]:
df.head()

  Moneda  Cantidad  Me gusta  Conteo
0    USD        10      True     1.0
1    YEN         4     False     NaN
2    MXN        22      True     3.0
3    ARS        54     False     NaN
4    EUR         6      True     5.0

In [37]:
df.head(3)

  Moneda  Cantidad  Me gusta  Conteo
0    USD        10      True     1.0
1    YEN         4     False     NaN
2    MXN        22      True     3.0

In [41]:
df.tail(3)

  Moneda  Cantidad  Me gusta  Conteo
2    MXN        22      True     3.0
3    ARS        54     False     NaN
4    EUR         6      True     5.0

In [42]:
df.shape

(5, 4)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Moneda    5 non-null      object
 1   Cantidad  5 non-null      int64
 2   Me gusta  5 non-null      bool
 3   Conteo    3 non-null      float64
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 257.0+ bytes

In [44]:
df.describe()

        Cantidad  Conteo
count   5.000000     3.0
mean   19.200000     3.0
std    20.668817     2.0
min     4.000000     1.0
25%     6.000000     2.0
50%    10.000000     3.0
75%    22.000000     4.0
max    54.000000     5.0

In [45]:
df.value_counts()

Moneda  Cantidad  Me gusta  Conteo
EUR     6         True      5.0       1
MXN     22        True      3.0       1
USD     10        True      1.0       1
Name: count, dtype: int64

In [46]:
df["Me gusta"].value_counts()

Me gusta
True     3
False    2
Name: count, dtype: int64

In [47]:
df.isnull()

   Moneda  Cantidad  Me gusta  Conteo
0   False     False     False   False
1   False     False     False    True
2   False     False     False   False
3   False     False     False    True
4   False     False     False   False

In [48]:
df.isnull().sum()

Moneda      0
Cantidad    0
Me gusta    0
Conteo      2
dtype: int64

In [49]:
df.sum()

Moneda      USDYENMXNARSEUR
Cantidad                 96
Me gusta                  3
Conteo                  9.0
dtype: object

In [50]:
#MANIPULACION DE DATOS
df.isnull().sum()

Moneda      0
Cantidad    0
Me gusta    0
Conteo      2
dtype: int64

In [51]:
df.dropna()

  Moneda  Cantidad  Me gusta  Conteo
0    USD        10      True     1.0
2    MXN        22      True     3.0
4    EUR         6      True     5.0

In [52]:
df.dropna(axis=1)

  Moneda  Cantidad  Me gusta
0    USD        10      True
1    YEN         4     False
2    MXN        22      True
3    ARS        54     False
4    EUR         6      True

In [53]:
df.fillna(0)

  Moneda  Cantidad  Me gusta  Conteo
0    USD        10      True     1.0
1    YEN         4     False     0.0
2    MXN        22      True     3.0
3    ARS        54     False     0.0
4    EUR         6      True     5.0

In [55]:
df["Conteo"].fillna(df["Conteo"].mean())

0    1.0
1    3.0
2    3.0
3    3.0
4    5.0
Name: Conteo, dtype: float64

In [56]:
df.fillna(df["Conteo"].mean())

  Moneda  Cantidad  Me gusta  Conteo
0    USD        10      True     1.0
1    YEN         4     False     3.0
2    MXN        22      True     3.0
3    ARS        54     False     3.0
4    EUR         6      True     5.0

In [57]:
df.fillna(method="ffill")

C:\Users\07020\AppData\Local\Temp\ipykernel_4148\3944122520.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill")

  Moneda  Cantidad  Me gusta  Conteo
0    USD        10      True     1.0
1    YEN         4     False     1.0
2    MXN        22      True     3.0
3    ARS        54     False     3.0
4    EUR         6      True     5.0

In [58]:
df.ffill()

  Moneda  Cantidad  Me gusta  Conteo
0    USD        10      True     1.0
1    YEN         4     False     1.0
2    MXN        22      True     3.0
3    ARS        54     False     3.0
4    EUR         6      True     5.0

In [ ]:
#PANDA SQL